  @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,400&family=Roboto:ital,wght@0,400;0,900;1,300;1,400&display=swap');
@import "colors";


  *{
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
  }

  @import "colors";
  @import "header";
  @import "home";
  @import "cart";
  @import "mediaquery";

  body{
    background-color: $primary;
    color: black;
  }

